doctype html
head
    style.
        body{
            display: block;
            
        }
        .row {
            vertical-align: middle;
            display: flex;
            gap: 15px;
            margin: auto;
            width: 50%;
            background: rgba(0, 0, 0, 0.85);
            margin-bottom: 20px;
            padding: 5px;
            height: 13rem;
        }
        a {
            text-decoration: none;
        }
        .seat {

            text-align: center;
            margin: auto;
            width: 100%;
        }
        .rn {
            color: white;
            align-self: center;
        }

        h3 {
            text-align: center;

        } 
        h4 {
            text-align: center;
        }

        img {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-bottom: 0.5rem;
        }
        .login {
            font-size: 12px;
            color: white;
            text-align: center;
        }
        .hostname {
            font-size: 12px;
            color: white;
            text-align: center;
        }
        .active {
            width: 100%;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            border: 1px solid black;
        }
        a {
            align-items: center;
        }

        .empty {
            margin: auto;
            border : 1px solid black;
            border-radius: 50%;
            background-color: rgba(32,32,38);
        }
        @media only screen and (max-width: 600px) {
            .table {
                width: 100%;
            }
        }

        @media only screen and (max-width: 1000px) and (min-width: 600px) {
            .table {
                width: 80%;
            }
        }

        @viewport {
            width: device-width ;
            zoom: 1.0 ;
}
body 
meta(name="viewport" content="width=device-width, initial-scale=1.0")
.CLUSTER_1
  - var sum = 0
  h3  Cluster 1 
  each rownum in [1,2,3,4]
    .row 
        .rn #{rownum}
        each seatnum in [1,2,3,4,5,6]
            .seat   
                - var index = (rownum - 1) * 6 + seatnum 
                - var compname = "c2r"+rownum+"s"+seatnum
                if data[index] != null
                    - sum = sum + 1
                    - var imgsrc = data[index].profile_pic
                    - var picsrc = data[index].profile_url
                     a(href=picsrc)
                        img(src=imgsrc)
                        .login #{data[index].login}
                        .hostname #{data[index].host}
                else
                    .empty
h4 Active: #{sum}
.CLUSTER_2
- var sum = 0
  h3  Cluster 2 
  each rownum in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
    .row 
        .rn #{rownum}
        each seatnum in [1,2,3,4,5,6]
            .seat   
                    - var index = 24 + (rownum - 1) * 6 + seatnum
                    - var compname = "c2r"+rownum+"s"+seatnum
                    if typeof(data[index]) != 'undefined'
                        - sum = sum + 1
                        - var imgsrc = data[index].profile_pic
                        - var picsrc = data[index].profile_url
                         a(href=picsrc)
                            img(src=imgsrc)
                            .login #{data[index].login}
                            .hostname #{data[index].host}
                    else
                        .empty 
h4 Active: #{sum}
